html{
    overflow-x: hidden;
    overflow-y: auto;
}

.index-card-img{
    max-height: 200px !important;
    min-height: 200px !important;
    border-radius: 2rem !important;
}
.index-card{
    width: 20rem !important;
    height: 20rem !important;
    margin-bottom: 1rem !important;
    box-shadow: none !important;
    border: none !important;
    transition: all 0.3s;
}
.index-card:hover{
    opacity: 0.6;
}
.btn{
    margin-top: 0.5rem !important;
}
.ind-btn{
    position: absolute !important;
    bottom: 2rem; 
}

.view-card{
    margin-top: 1rem;
    min-height: 25rem !important;
    width: auto;
    box-shadow: none !important;
    border: none !important;
}

.view-pera{
    padding: 2px !important;
    margin: 0% !important;
    font-size: 1.1rem !important;
    
}
.view-img{
    margin: auto !important;
    width: 100%;
    max-width: 35rem !important;
    height: 17rem !important;
    border-radius: 1rem;
}
label{
    font-weight: 600 !important;
}
.fa-backward{
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 2rem;
}

.fa-compass{
    font-size: 2rem !important;
    color: rgb(188, 34, 34);
}

.rating-card{
    height: inherit !important;
    min-height: 100% !important;
}
.rating-btn{
    margin: 0% !important;
}

.alert-box{
    display: flex;
    justify-content: center;
}

/*map style */
body { margin: 2px; padding: 0; }
#map {height:60vh; border-radius: 15px;}

.my-class{
    font-size: 16px;
    color: red;
    background: transparent;
    width: 200px;
}
